@charset "UTF-8";
/* para evitar problemas de acentuação */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Droid';
    src: url('../fontes/idroid.otf') format('opentype');
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --font0: Arial, Helvetica, sans-serif;
    --font1: 'Bebas', cursive;
    --font2: 'Droid', sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #83E1AD;
}

header{
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
    margin: -8px -8px 0px -8px;
    text-align: center;
    padding-top: 1px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.357);
}

header > h1{
    color: white;
    margin-bottom: 6px;
    text-shadow: 1px 1px 1px black;
    font: normal normal 3em 'Bebas Neue', cursive;
}

header p{
    color: white;
    text-align: center;
    min-width: 100px;
    max-width: 398px;
    margin: auto;
    text-shadow: 1px 1px 1px black;
    font-size: 1em;
    padding-bottom: 14px;
}

nav{
    color: white;
    background-color: var(--cor5);
    font-weight: bold;
    padding: 10px;
    margin: 0px -8px;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.588);
}


nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    background-color: #2FA866;
    text-decoration: underline;
    border-radius: 3px;
    transition-duration: 5ms;
}

main{
    max-width: 700px;
    min-width: 100px;
    background-color: white;
    margin: auto;
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
}

article h1{
    font-family: var(--font2);
    color: var(--cor4);
}

article h2{
    font: 1.2em var(--font2);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    color: var(--cor4);
    text-indent: 5px;
}

article p{
    text-indent: 35px;
    font-size: 15px;
    text-align: justify;
    line-height: 2em;
}

article strong{
    color: var(--cor3);
}

article a{
    background-color: var(--cor3);
    color: white;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
}

article a:hover{
    background-color: var(--cor2);
    text-decoration: underline;
}

div.video{
    background-color: #1A5C38;
    position: relative;
    margin: 0px -15px 30px -15px ;
    height: 0px;
    padding-bottom: 59%;
}

div.video iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor0);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.365);
}

h3{
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin: -10px -10px 0px -10px;
    
}

ul{
    list-style-type: '\2714\00A0\0020';
    columns: 2;
    list-style-position: inside;
    margin-top: 15px;
}
   

footer{
    background-color: var(--cor4);
    padding: 1px 0px; 
    margin: 14px -8px -8px -8px;
    text-align: center;
    color: white;
}


footer > p > a{
    
    padding: 3px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: none;
    background-color: var(--cor3);
}

.imagem-pq{
    display: block;
    margin: auto;
}








